nav.nav
  .nav__wrapper
    .nav__logo
      img.nav__logo__image(src='./assets/Logo.png' alt='logo')
    ul.nav__links
      li.nav__links__item
        a.nav__links__item__link.active(href='/' data-path='home')='home'
      li.nav__links__item
        a.nav__links__item__link.link(href='/blog' data-path='blog')='blog'
      li.nav__links__item
        a.nav__links__item__link.link(href='/booking' data-path='booking')='book table'
      li.nav__links__item
        a.nav__links__item__link.link(href='/contact' data-path='contact')='contact us'

      if auth
        li.nav__links__item
          a.nav__links__item__link.link(href=Link=`/user/${user.id}` data-path='user')='Myclub'
        form(action='/logout?_method=DELETE' method='POST')
          button.nav__logout(type='submit')='log out'
      else
        li.nav__links__item
          a.nav__links__item__link.link(href='/login' data-path='login')='log in'
