extends ../base.pug

block variables
  - var template = 'home'

block content
  .home
    header.home__header
      .home__header__bg
        img.home__header__bg__img(src='' alt='dans')
      .home__header__titles
        img.home__header__titles__main(src='./assets/icon/Logo.svg')
        h2.home__header__titles__text='Have a good time'
        img.home__header__titles__btm(src='./assets/bottom_line.png')

    section.home__welcome
      .home__welcome__title
        h2.home__welcome__title__text='Welcome in nightclub'
      .home__welcome__sections
        .home__welcome__sections__section
          img.home__welcome__sections__section__img(src='./assets/content-img/thumb1.jpg')
          .home__welcome__sections__section__overlay
            .home__welcome__sections__section__overlay__icon
              img.home__welcome__sections__section__overlay__icon__img(src='./assets/icon/favicon.png')
            .home__welcome__sections__section__overlay__title
              h3.home__welcome__sections__section__overlay__title__text='night club'
            .home__welcome__sections__section__overlay__desc
              p.home__welcome__sections__section__overlay__desc__text='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices risus ac magna porttitor blandit. Duis vulputate sagittis magna, pulvinar interdum ipsum sollicitudin in. Ut nec urna porta, imperdiet ante ut, luctus felis. Aenean finibus lectus sit amet libero iaculis.'
        .home__welcome__sections__section
          img.home__welcome__sections__section__img(src='./assets/content-img/restaurant_1.jpg')
          .home__welcome__sections__section__overlay
            .home__welcome__sections__section__overlay__icon
              img.home__welcome__sections__section__overlay__icon__img(src='./assets/icon/food.png')
            .home__welcome__sections__section__overlay__title
              h3.home__welcome__sections__section__overlay__title__text='restaurant'
            .home__welcome__sections__section__overlay__desc
              p.home__welcome__sections__section__overlay__desc__text='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices risus ac magna porttitor blandit. Duis vulputate sagittis magna, pulvinar interdum ipsum sollicitudin in. Ut nec urna porta, imperdiet ante ut, luctus felis. Aenean finibus lectus sit amet libero iaculis.'
        .home__welcome__sections__section
          img.home__welcome__sections__section__img(src='./assets/content-img/thumb2.jpg')
          .home__welcome__sections__section__overlay
            .home__welcome__sections__section__overlay__icon
              img.home__welcome__sections__section__overlay__icon__img(src='./assets/icon/drinks.png')
            .home__welcome__sections__section__overlay__title
              h3.home__welcome__sections__section__overlay__title__text='bar'
            .home__welcome__sections__section__overlay__desc
              p.home__welcome__sections__section__overlay__desc__text='Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices risus ac magna porttitor blandit. Duis vulputate sagittis magna, pulvinar interdum ipsum sollicitudin in. Ut nec urna porta, imperdiet ante ut, luctus felis. Aenean finibus lectus sit amet libero iaculis.'

    section.home__events
      .home__events__title
        h2.home__events__title__text='Events of the month'

      .home__events__cards
        each e in events
          .home__events__cards__card
            .home__events__cards__card__img
              img.home__events__cards__card__img__src(src=e.asset.url alt=e.title)
            .home__events__cards__card__overlay
              .home__events__cards__card__overlay__title
                h3.home__events__cards__card__overlay__title__text=e.title
              .home__events__cards__card__overlay__desc
                p.home__events__cards__card__overlay__desc__text=e.description
            .home__events__cards__card__info
                p.home__events__cards__card__info__date=`${new Date(e.date).toLocaleDateString(undefined, { month: 'short', day: 'numeric' } ).replace(/\./g, ' ') }`
                p.home__events__cards__card__info__clock=`${new Date(e.date).toLocaleTimeString( 'en-US', { hour: 'numeric', minute: 'numeric' })}`
                p.home__events__cards__card__info__location=e.location
                a.home__events__cards__card__info__button(href='') Book now

      .home__events__indicators
        .home__events__indicators__indicator
        .home__events__indicators__indicator.a_s
        .home__events__indicators__indicator

    section.home__gallery
      .home__gallery__title
        h2.home__gallery__title__text='Night Club Gallery'

      .home__gallery__studio
        each img in gallery
          .home__gallery__studio__img
            img.home__gallery__studio__img__src(src=img.asset.url alt=img.description)

    section.home__videos
      .home__videos__title
        h2.home__videos__title__text='Latest video'

      .home__videos__video
        video.home__videos__video__src(src='./assets/media/video-crowd.mp4' width='1440' height='608' muted autoplay controls)



